* {
  margin: 0;
  padding: 0;
}
body {
  width: 1152px;
  height: 700px;
  text-align: center;
  margin: auto;
  background: linear-gradient(to right, #f9f4ec, #f9e3bf);
}
header {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  color: #ee5626;
  font-size: 24px;
  justify-content: center;
  display: flex;
  align-items: center;
}
header span h1 {
  color: black;
  font-size: 36px;
}
header span {
  align-items: center;
  display: flex;
  justify-content: center;
}
.logo {
  display: flex;
  justify-content: center;
}
h1 a {
  font-size: 24px;
  color: black;
}
.logo span {
  border: 2px solid chocolate;
  border-radius: 50%;
  margin-right: 4px;

  width: 40px;
  height: 40px;
}
main {
  margin-top: 24px;
  display: grid;
  grid-template-columns: 210px 275px 210px 275px 210px;
  grid-template-rows: 489px;
  text-align: left;
}
.img-id {
  width: 31px;
  height: 31px;
  border-radius: 5px;
}
.img-column2 {
  width: 250px;
  height: 150px;
}
.column3 img {
  width: 190px;
  height: 100px;
}
.id-name {
  display: flex;
  justify-content: flex-start;
}
.id-name p {
  font-size: 8px;
}
.id-name h1 {
  font-size: 12px;
}

main h1 {
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 20px;
}
.column p {
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}
.column2 p {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}
.column {
  border-right: 0.5px solid rgb(181, 179, 179);
}
.group1 {
  border-bottom: 0.5px solid rgb(181, 179, 179);
  width: 190px;
}
.column2 {
  display: flex;
  justify-content: center;
  border-right: 0.5px solid rgb(181, 179, 179);
}
.group2 {
  border-bottom: 0.5px solid rgb(181, 179, 179);
  width: 250px;
  height: 467px;
}
.column3 {
  border-right: 0.5px solid rgb(181, 179, 179);
  display: grid;
  justify-content: center;
}
.group-human {
  border-bottom: 0.5px solid rgb(181, 179, 179);
  width: 190px;
  height: 203px;
}
.group-clock {
  border-bottom: 0.5px solid rgb(181, 179, 179);
  width: 190px;
  height: 253px;
}
.column3 p {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
}
.column3 a {
  margin-left: 2px;
  color: #ee5626;
}
.column {
  border-right: 0.5px solid rgb(181, 179, 179);
  display: grid;
  justify-content: center;
}
.group4 {
  border-bottom: 0.5px solid rgb(181, 179, 179);
  width: 250px;
}
footer {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  align-items: center;
}
.icon i {
  width: 37px;
  height: 37px;
  border: 3px solid black;
  border-radius: 50%;
  align-items: center;
  display: inline-grid;
  margin: 4px;
}
.thanks a {
  color: #ee5626;
}
.email a {
  color: black;
}
