<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <link rel="stylesheet" href="../style/SNAP-header.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="img-logo"><img src="../img/img-logo.png" alt="" /></div>
      <div class="button">
        <button>
          <font><font>Trang chủ</font></font>
          <span></span>
        </button>
        <button>Blog</button>
        <button>Photo Booth tất cả trong một</button>
        <button>Ebook miễn phí</button>
        <button>Báo giá</button>
        <button><i class="fas fa-globe"></i>Ngôn ngữ</button>
      </div>
    </header>
  </body>
</html>
